dj-database-url              
Django                        
django-cors-headers           
django-environ                
djangorestframework           
djangorestframework-simplejwt 
gunicorn
psycopg2-binary